@import "../component/base";
.container {
  @include main-content;
  margin-top: $header-height;
  overflow-y: auto;
  .types {
    margin-bottom: 0.2rem;
    .select {
      width: 100%;
    }
  }
}
