@import "../component/base";
.container {
  margin-top: $header-height;
  overflow-y: auto;
}
.block {
  padding: 0.4rem 0;
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    font-size: 0.16rem;
    line-height: 0.16rem;
    .inner {
      display: flex;
    }
    .total {
      text-align: right;
    }
    label {
      color: $font-color-light;
    }
    .cont {
      max-width: 2.2rem;
      color: $font-color;
      @include ellipsis;
    }
    .copy {
      font-size: 0.14rem;
      color: $primary-blue;
      cursor: pointer;
    }
    &:not(:last-child) {
      margin-bottom: 0.2rem;
    }
  }
}
